
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;500;700;900&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page {
    width: 80vw;
    height: 80vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#controls {
    position: absolute;
    bottom: 20px;
}